.color-bg-light{
    background-color: #fff9f4;
}
.text-color{
    color: #fa804c;
}
.background{
    background-color: #c4c4c4;
}
.text{
    color: white;
}
.color{
    color: #363958;
}




/* .logos{
    text-align: center;
    margin-bottom: 63px;
    margin-top: 90px;
} */



.icon-footer i:hover{
    box-shadow: 0 0 40px tomato;
}
.image{
    font-size: 25px;
}
  .image i{
      margin: 10px;
  }
  .fa-instagram-square:hover{
    transform: scale(1.3);
    background-color: lightblue;
}
.fa-twitter:hover{
    transform: scale(1.3);
    background-color: lightblue;
}
.fa-linkedin:hover{
    transform: scale(1.3);
    background-color: lightblue;
}
.fa-whatsapp:hover{
    transform: scale(1.3);
    background-color: lightblue;
}
.fa-instagram-square{
    margin-right: 20px;
    color: orangered;

   
}
.fa-twitter{
    margin-right: 20px;
    color: blue;
   
}
.fa-linkedin{
    margin-right: 20px;
color:  #0e76a8;
}
.fa-whatsapp{
    margin-right: 20px;
    color: #075E54;

}
.copy{
    
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    padding:10px;
    margin-bottom: 20px;
}